{% extends 'base.html.twig' %}

{% block title %}
	:: Profile
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('profile') }}
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% import _self as formMacros %}

{% macro printSnsSubForm(sns) %}
	<div class="row sns-item">
		<div class="input-group mt-2">
			{{ form_widget(sns.type) }}
			{{ form_widget(sns.content) }}
			<button class="btn btn-outline-danger delete-item-link pull-right">
				<i class="bi bi-trash"></i>
			</button>
		</div>
	</div>
{% endmacro %}

{% block content %}
	<div class="mt-5 mb-4 px-2 px-md-0">
		<h1>Edit profile</h1>

		{{ form_start(form) }}
		{{ form_errors(form) }}

		{{ form_row(form.firstname) }}
		{{ form_row(form.lastname) }}
		{{ form_row(form.birthdate) }}
		{{ form_row(form.gender) }}
		{{ form_row(form.homeCountries) }}
		{{ form_row(form.languages) }}
		{{ form_row(form.currentSituation) }}
		<div style="width:50%">{{ form_row(form.imageFile,{ 'label': 'Profil picture' }) }}</div>


		{{ form_label(form.snsInfos) }}
		<ul class="snsInfos" data-index="{{ form.snsInfos|length > 0 ? form.snsInfos|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printSnsSubForm(form.snsInfos.vars.prototype)|e('html_attr') }}">
			{% for sns in form.snsInfos %}
				{{ formMacros.printSnsSubForm(sns) }}
			{% endfor %}
			<a href="#" class="add-item-link" data-collection-holder-class="snsInfos">add a line</a>
		</ul>

		<button type="submit" class="px-5 mt-4 btn btn-primary">Save</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
