{% extends 'base.html.twig' %}

{% block title %} :: Profile{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block content %}
    <div class="mt-5 mb-4 px-2 px-md-0">
        <h1>Manage schools</h1>

        <div class="my-3">
            <a href="{{ path('profile') }}">Return to the profile</a>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <table class="table">
            <tr>
                <th>Start &#8595;</th>
                <th>End</th>
                <th>Location</th>
                <th>School name</th>
                <th>As a local</th>
                <th>Actions</th>
            </tr>
            {% for s in educations %}
                <tr>
                    <td>{{ s.startDate|date('M Y') }}</td>
                    <td>{{ s.endDate|date('M Y') }}</td>
                    {% if s.institution is not null %}
                        <td>{{ s.institution.city }}, {{ s.institution.city.country|country_name }}</td>
                        <td>{{ s.institution.name }}</td>
                    {% else %}
                        <td>{{ s.location }}, {{ s.country|country_name }}</td>
                        <td>{{ s.name }}</td>
                    {% endif %}
                    <td>{{ s.local ? 'yes' : 'Mobility' }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{{ path('profile_educations_edit', {id: s.id}) }}" class="btn btn-sm btn-secondary">
                                <i class="bi bi-pencil-fill"></i>Edit
                            </a>
                            <a href="{{ path('profile_educations_delete', {id: s.id}) }}" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash3-fill"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path('profile_educations_new') }}" class="btn btn-sm btn-primary text-white">
            <i class="bi bi-plus-circle-fill"></i> Add a education to the list
        </a>
    </div>
{% endblock %}
