{% extends 'base.html.twig' %}

{% block title %} :: Profile{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% if form is defined %}{% form_theme form 'bootstrap_5_layout.html.twig' %}{% endif %}

{% block content %}
    <div class="mt-5 mb-5 px-2 px-md-0">
        <h1>Manage schools</h1>

        <div class="my-3">
            <a href="{{ path('profile_educations_manage') }}">Cancel and return to the list</a>
        </div>

        {% if education is defined %}
            {{ form_start(form) }}

            <div class="row">
                {% if form.country is defined %}
                    <div class="col-6">
                        {{ form_row(form.country) }}
                    </div>
                    <div class="col" style="display: block; padding-top: 38px;">
                        <a href="{{ path('profile_educations_new') }}">Change</a>
                    </div>
                {% else %}
                    <div class="col-12">
                        <h3>
                            {{ education.country|country_name }}
                            {% if education.institution is not null %}
                                > {{ education.institution.city.name }} > {{ education.institution.name }}
                            {% endif %}
                        </h3>
                    </div>
                {% endif %}
            </div>
            {% if form.institution is defined %}
                <div class="row">
                    <div class="col-8">{{ form_row(form.institution) }}</div>
                    <div class="col" style="display: block; padding-top: 35px;">
                        <a href="{{ path('profile_educations_new', {'country': country, 'custom': true}) }}">
                            I can't find my institution
                        </a>
                    </div>
                </div>
            {% elseif form.location is defined %}
                <div class="row">
                    <div class="col-4">{{ form_row(form.location) }}</div>
                    <div class="col-8">{{ form_row(form.name) }}</div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col">{{ form_row(form.startDateYear) }}</div>
                <div class="col">{{ form_row(form.startDateMonth) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.endDateYear) }}</div>
                <div class="col">{{ form_row(form.endDateMonth) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.local) }}</div>
            </div>
            <div class="text-center">
                <button type="submit" class="px-5 mt-4 btn btn-primary">Save</button>
            </div>

            {{ form_end(form) }}
        {% else %}
            <form action="" method="GET">
                <label for="country_selection" class="required">Country</label>
                <select id="country_selection" name="country">
                    {% for k, c in europeanCountries %}
                        <option value="{{ k }}">{{ c }}</option>
                    {% endfor %}
                        <option disabled="disabled">-------------------</option>
                    {% for k, c in otherCountries %}
                        <option value="{{ k }}">{{ c }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="px-5 mt-4 btn btn-primary">Next</button>
            </form>
        {% endif %}


    </div>
{% endblock %}
