{% extends 'base.html.twig' %}

{% block title %} :: Posts{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block content %}
    <div class="my-5 text-center">
        <h1>{% for tag in tags %}#{{ tag }} {% endfor %}</h1>
        <div class="nb-results">{{ posts|length }} result(s)</div>
        <div class="posts-list">
            {% for post in posts %}
                {% include '_post.html.twig' with {'post': post, 'multi': true} only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
