{% extends 'base.html.twig' %}

{% block title %}
	:: Profile
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block content %}
	<div class="profile-content my-md-4">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		<div class="row pt-3 pt-md-5 pb-4 compass-pattern">
			{%
                if false == is_granted('ROLE_ADMIN') and
                    (
                        false == user.isVerified
                        or (user.snsInfos|length < 1 and user.languages|length < 1)
                        or user.educations|length < 1
                        or user.posts|length < 1
                    )
            %}
				<div class="first-steps">
					<div class="title">Welcome to Compass platform!</div>
					<ul class="list-unstyled">
						<li class="{{ true == user.isVerified ? 'checked' }}">
							<i class="bi bi-check2-circle"></i>
							Verify your email address with the link you received by mail
						</li>
						<li class="{{ user.snsInfos|length > 0 or user.languages|length > 0 ? 'checked' }}">
							<i class="bi bi-check2-circle"></i>
							Fill in
							<a href="{{ path('profile_edit') }}">your profile</a>
							with information about you :
							                            languages you speak, how to reach you (instagram, etc...)
						</li>
						<li class="{{ user.educations|length > 0 ? 'checked' }}">
							<i class="bi bi-check2-circle"></i>
							Tell us the
							<a href="{{ path('profile_educations_manage') }}">mobility and the schools</a>
							you have been to in your profile.
						</li>
						<li class="{{ user.posts|length > 0 ? 'checked' }}">
							<i class="bi bi-check2-circle"></i>
							Create
							<a href="{{ path('post_ideas') }}">your first post</a>
							for tips, feedback, or
							                            anything to share with people who want to go in a mobility!
						</li>
					</ul>
				</div>
			{% endif %}
			<div class="col-12 col-md-6 mb-4 text-center">
				<h1>
					{% for r in user.roles %}
						{% if r == 'ROLE_ADMIN' %}
							<i class="bi bi-asterisk text-secondary" title="Administrator"></i>
						{% endif %}
					{% endfor %}
					{{ user.firstname }}
					{% if user.imageName is not null %}
						<img src="{{ asset('/images/users/'~ user.imageName) }}" style="width:25%" class="" alt="...">

					{% else %}
						<i class="bi bi-person-fill" style="font-size:5rem; color:#ffb255"></i>
					{% endif %}
					{% if user.gender in [0,1] %}
						<i class="bi bi-gender-{{ user.gender == 0 ? 'female' : 'male' }}"></i>
					{% endif %}

				</h1>
				{% if app.user == user %}
					{% if false == user.isVerified %}
						<i>
							Please confirm your email address (by clicking the link you received in your mail)
							                            before using your account.
						</i>
					{% else %}
						<a href="{{ path('profile_edit') }}" class="btn btn-sm btn-secondary">
							<i class="bi bi-pencil-square"></i>
							Edit profile
						</a>
						<a href="{{ path('profile_educations_manage') }}" class="btn btn-sm btn-secondary">
							<i class="bi bi-mortarboard"></i>
							Manage educations
						</a>
						<div class="call-to-action">
							<a href="{{ path('post_ideas') }}" class="btn btn-primary">
								Share your experience, create posts !
							</a>
						</div>
					{% endif %}
				{% endif %}
				<div class="social-networks mt-md-3">
					{% for sns in user.snsInfos %}
						<a href="{{ sns.url }}" title="{{ sns.url }}" target="_blank">
							<i class="bi bi-{{ sns.type }}"></i>
							{{ sns.type }}
						</a><br>
					{% endfor %}
				</div>
			</div>
			<div class="col-12 col-md-6 col-6">
				<ul class="identity-card mx-3 ms-md-0 me-md-5 list-unstyled">
					<li>
						<strong>age:</strong>
						<span title="{{ user.birthdate|date('Y-m-d') }}">{{ user.age }}</span>
					</li>
					<li>
						{% if user.homeCountries|length == 0 %}
							<strong>home country:</strong>
							<i>undefined</i>
						{% else %}
							<strong>{{ user.homeCountries|length > 1 ? 'home countries' : 'home country'}}:</strong>
							{% for n in user.homeCountries %}
								{{ n|country_name }}{{ loop.revindex > 1 ? ', ' }}
							{% endfor %}
						{% endif %}
					</li>
					<li>
						{% if user.languages|length == 0 %}
							<strong>language:</strong>
							<i>undefined</i>
						{% else %}
							<strong>language{{ user.languages|length > 1 ? 's'}}:</strong>
							{% for l in user.languages %}
								{{ l|language_name }}{{ loop.revindex > 1 ? ', ' }}
							{% endfor %}
						{% endif %}
					</li>
					{% if extra.currentSituation is not empty %}
						<li>
							<strong>current situation:</strong>
							{{ extra.currentSituation }}
						</li>
					{% endif %}

					{% set originSchools = user.educations|filter(v => v.local == true) %}
					{% set mobilitySchools = user.educations|filter(v => v.local == false) %}

					{% if originSchools|length > 0 or app.user == user %}
						<li class="pt-3">
							<strong>I was a local student in:</strong>
							<ul>
								{% for s in originSchools %}
									<li>
										{% if s.institution is not null %}
											{{ s.institution.name }}
											<i>({{ s.institution.city.name }},
												{{ s.institution.city.country|country_name }})</i>
										{% else %}
											{{ s.name }}
											<i>({{ s.location }},
												{{ s.country|country_name }})</i>
										{% endif %}
										<br><small>{{ s.startDate|date('M Y') }}
											-
											{{ s.endDate|date('M Y') }}</small>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
					{% if mobilitySchools|length > 0 or app.user == user %}
						<li class="pt-3">
							<strong>I was an exchange student in:</strong>
							<ul>
								{% for s in mobilitySchools %}
									<li>
										{% if s.institution is not null %}
											{{ s.institution.name }}
											<i>({{ s.institution.city.name }},
												{{ s.institution.city.country|country_name }})</i>
										{% else %}
											{{ s.name }}
											<i>({{ s.location }},
												{{ s.country|country_name }})</i>
										{% endif %}
										<br><small>{{ s.startDate|date('M Y') }}
											-
											{{ s.endDate|date('M Y') }}</small>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="profile-stat py-3 px-5 row">
			<div class="col py-md-4">
				<div class="profile-stat-badge">
					<div>
						<i class="bi bi-chat-left-text"></i>
					</div>
					<div>
						<strong>{{ userPosts|length < 10 ? '0' }}{{ userPosts|length }}</strong>
						<br>posts
					</div>
				</div>
			</div>
			<div class="col py-md-4">
				<div class="profile-stat-badge">
					<div>
						<i class="bi bi-chat-quote"></i>
					</div>
					<div>
						<strong>{{ userComments|length < 10 ? '0' }}{{ userComments|length }}</strong><br>comments</div>
				</div>
			</div>
			<div class="col py-md-4">
				<div class="profile-stat-badge">
					<div>
						<i class="bi bi-hand-thumbs-up"></i>
					</div>
					<div>
						<strong>{{ user.reactions|length < 10 ? '0' }}{{ user.reactions|length }}</strong><br>reactions</div>
				</div>
			</div>
		</div>
		{% if userPosts|length > 0 %}
			<div class="text-center pt-4 pb-2 py-md-5 compass-pattern">
				<h2>Posts</h2>
				<div class="posts-list">
					{% for post in userPosts %}
						{% include '_post.html.twig' with {'post': post, 'profile': true} only %}
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
