{% extends 'base.html.twig' %}

{% block title %} :: Posts{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tags') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('tags') }}
{% endblock %}

{% block content %}
    <div class="my-5 text-center">
        {% if tags is defined %}
            <h1>{% for tag in tags %}#{{ tag }} {% endfor %}</h1>
        {% elseif institution is defined %}
            <h1><i class="bi bi-geo-alt-fill"></i> {{ institution.name }}</h1>
            <h5>
                <a href="{{ path('city_list', {'slug': institution.city.slug}) }}">
                    {{ institution.city }}
                </a>
                <small>, <a href="{{ path('country_list', {'country': institution.city.country}) }}">
                    {{ institution.city.country|country_name|upper }}
                </a></small>
            </h5>
        {% elseif city is defined %}
            <h1><i class="bi bi-geo-alt-fill"></i> {{ city }}</h1>
            <h5><a href="{{ path('country_list', {'country': city.country}) }}">
                {{ city.country|country_name|upper }}
            </a></h5>
        {% elseif country is defined %}
            <h1><i class="bi bi-geo-alt-fill"></i> {{ country|country_name }}</h1>
        {% endif %}
        <div class="nb-results">{{ posts|length }} result(s)</div>
        <div class="posts-list">
            {% for post in posts %}
                {% include '_post.html.twig' with {'post': post, 'multi': true} only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
