{% extends 'base.html.twig' %}

{% block title %} :: Login{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block content %}
    <form class="form-signin" method="post">
        <h3>Log in</h3>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-floating">
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="name@example.com" value="{{ last_username }}" autocomplete="email" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="current-password" required>
            <label for="inputPassword">Password</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" value="remember-me"> Remember me
            </label>
        </div>
        #}
        <a href="{{ path('app_forgot_password_request') }}">Forgotten password?</a>
        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Sign in</button>
    </form>
{% endblock %}
