{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block content %}
    <div class="my-5 px-2 px-md-0">
        <h1>Charter of commitment to the proper use of Compass</h1>

        <h2>Preamble</h2>
        <p>This charter defines the usage rights and limits on the Compass platform.</p>
        <p>The website/platform allows users to access information and data related to the Compass platform. A user is :
            any person using the platform, logged in as a current or former student (local or on mobility), or as an
            administrator.</p>
        <p>[ESN France - Compass administration (hereinafter referred to as “Compass”) has developed a platform which
            enables young people to post about their international mobility (Countries, cities, universities, cost of
            living, administrative procedures) on a website called compass-youthmobility.eu.</p>

        <h2>Acceptance of the User Charter</h2>
        <p>By using the Compass platform, the user agrees to respect the terms and conditions of navigating on the
            platform, as stated in this charter. This charter can be modified and updated without prior notice by the
            editor, it is the user’s responsibility to check it regularly. The user is expected to acknowledge and
            accept the charter at each connection and navigation on the platform. Every connection and navigation should
            abide by this charter.</p>
        <h2>The user’s responsibilities</h2>
        <p>Nudity and sexual contents are banned from this platform. Any user trying to obtain private information to
            commit fraud will see his/her account deleted. Any user exchanging financial information such as an account
            number or an online payment service will see his/her account deleted. Promoting or advocating for commercial
            sexual services, human trafficking or other non-consensual sexual acts is strictly prohibited and will
            result in your account being banned from the platform.</p>

        <h3>Compliance with the law</h3>
        <p>The users commit not to break the law or any rules.</p>
        <p>It is forbidden to do the following (criminal penalty is to be expected):</p>
        <ul>
            <li>
                infringing the private life of any user. In this framework, sending unsolicited messages to the web
                platform users is forbidden;
            </li>
            <li>
                libeling and insulting;
            </li>
            <li>
                inciting to crimes and felonies, inciting to suicide, discrimination, racial hatred and/or violence;
            </li>
            <li>
                advocating for crimes, among which murder, rape, war crimes and crimes against humanity, or historical
                negationism;
            </li>
            <li>reproducing, representing or sharing a piece of work without any authorisation;</li>
            <li>advertising or sharing messages with a commercial intent ;</li>
            <li>
                discussions showing an intent of copying commercial softwares for a use other than safeguarding it in
                the
                condition stated in the intellectual property rules.
            </li>
        </ul>
        <p>Any user trying to obtain private information to commit fraud will see his/her account deleted. Any user
            exchanging financial information such as an account number or an online payment service will see his/her
            account deleted. Promoting or advocating for commercial sexual services, human trafficking or other
            non-consensual sexual acts is strictly prohibited and will result in your account being banned from the
            platform.</p>

        <h3>Self-responsibility</h3>
        <p>Even if the Compass platform encourages a respectful experience, it can not be held responsible for the
            behaviour of its users, while on the platform or during activities related to it. You understand you need to
            be careful when publishing, and also when you decide to talk via other communication means than the
            platform. We advise you not to give financial information (bank account, online paying systems) and also not
            to indicate your personal address and personal information. If a request seems odd, ask the administrative
            team for advice. We strongly suggest you inform us via the email address compass@ixesn.fr of any behaviour
            that goes against this Users Chart policy, and to read carefully the pieces of advice given</p>
        <p>The Compass platform will bear no responsibility for any user’s behaviour on the platform or outside of it.
            All users can allow access to their social media account if they want to, but the Compass team is not
            responsible for behaviors that might occur outside of the Compass platform scope.</p>

        <h2>Moderator responsibilities</h2>
        <p>The platform moderator undertakes not to reuse the content posted by users. The platform moderator undertakes
            not to reuse the data published in the users profile.</p>
        <p>The moderator undertakes not to delete content posted without valid reasons (quoted in the T&Cs)</p>

        <h2>The platform responsibilities</h2>
        <p>The Compass platform cannot operate any systematic criminal background check of its users, or any other
            checks. They can only access the information of the users they can match. The platform cannot be held
            responsible for:</p>
        <ul>
            <li>illegal activities and behaviours from any user on the platform or outside of it.</li>
            <li>illegal contents from any user on the platform or outside of it.</li>
            <li>
                The technical team behind the Compass platform offers it and its functionalities as it is. It cannot
                grant
                any guarantee of any nature about the platform and its functionalities availability, or that they do not
                contain mistakes or bugs, or that the content is completely exact. The Compass platform will bear no
                responsibility for any user’s behaviour on the platform or outside of it.
            </li>
        </ul>

        <h3>Compliance with the IT security and integrity</h3>
        <p>The user commits to abide by the law regarding digital fraud, and to refrain from engaging in any data breach
            or intrusion in an automated data management system, or from altering partly or completely the information
            that it contains. The user bears in mind that such acts can be sanctioned criminally by law. The user also
            commits to not transmitting any virus nor using the web platform for any malicious action such as hacking
            and similar acts.</p>

        <h3>One Person, One Account</h3>
        <p>Only create one account on the Compass platform, and if you do not want to use your own anymore, contact us
            so we can delete your account and/or content in order not to use unnecessary memory and space.</p>

        <h3>Links towards other websites or services</h3>
        <p>Links bringing the user to external pages and/or websites are not under the responsibility of the Compass
            platform or its technical team, either with regard to their content or their availability conditions. Such
            links do not represent any endorsement or recommendation of the websites and their contents.</p>

        <h3>Referencing</h3>
        <p>The content published on the Compass platform is visible to anyone searching the internet. The content posted
            on the Compass platform may appear on different websites including other platforms.</p>

        <h3>Final agreement</h3>
        <p>By ticking this box, I confirm having read and acknowledged the whole User Charter, and agreeing to every
            part of it, which I now commit to observe. By agreeing to this User Charter, I ensure I can fully use the
            Buddy System platform and its functionalities</p>
    </div>
{% endblock %}