{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('index') }}
{% endblock %}

{% import _self as formMacros %}

{% macro printQA(id, question, answer)  %}
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading{{ id }}">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ id }}" aria-expanded="false" aria-controls="collapse{{ id }}">
				{{ question }}
			</button>
		</h2>
		<div id="collapse{{ id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ id }}" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<i class="bi bi-info-square-fill"></i>
				{{ answer }}</div>
		</div>
	</div>
{% endmacro %}

{% block content %}
	<div class="my-5 px-2 px-md-0 text-center">
		<h1>Contact Us</h1>

		<div class="container mt-5">
			<img src="{{ asset('/build/images/pictures/question-1.jpg') }}" class=" d-block w-50 mx-auto rounded  img-fluid mb-4" alt="question image">
			<h2 class="text-secondary">Let's talk by mail</h2>
			<p class="my-3">
				We will answer you as soon as possible at
				<strong>contact&#64;compass-youthmobility.eu</strong>.
			</p>
			<a href="mailto:contact&#64;compass-youthmobility.eu" class="btn btn-primary">
				<i class="bi bi-envelope"></i>
				Contact us !
			</a>
		</div>

	</div>
{% endblock %}
