{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('index') }}
{% endblock %}

{% import _self as formMacros %}

{% macro printQA(id, question, answer)  %}
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading{{ id }}">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ id }}" aria-expanded="false" aria-controls="collapse{{ id }}">
				{{ question }}
			</button>
		</h2>
		<div id="collapse{{ id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ id }}" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<i class="bi bi-info-square-fill"></i>
				{{ answer }}</div>
		</div>
	</div>
{% endmacro %}

{% block content %}
	<div class=" container my-5 px-2 px-md-0">
		<h1>Frequently asked questions</h1>
		<div class="row mt-4">
			<div class="pb-3">
				The Compass project aims to help students prepare for their mobility by putting them in contact with
																													        students who have already gone abroad or with local students at the desired institution or destination. To find out more, click
				<a href="{{ path('project_presentation') }}">here</a>.
				<P class="mt-5">
					<h2 class="text-secondary">Answer to your question may already be here:</h2>
				</P>
			</div>

			<div class="col-md-5 pb-4">


				<div class="accordion" id="accordionExample">
					{{ formMacros.printQA(
                        1,
                        'I forgot my password and I can\'t log in. How can I reset it ?',
                        'This website is still under construction and you will be soon able to reset it yourself. As for now, please send us an email so we can change it for you !'
                    ) }}
                    {{ formMacros.printQA(
                        2,
                        'Do other users have access to my profile ?',
                        'Other members have access to your public profile. But it doesn\'t show all your information. For example, your last name or email are not public.'
                    ) }}
					{{ formMacros.printQA(
                        3,
                        'Do I have to share my social media accounts ? ',
                        'No, there is no obligation. You can simply post on the platform. '
                    ) }}
					{{ formMacros.printQA(
                        4,
                        'Up to how many tags can I use for one publication ?  ',
                        'As many as you wish but make sure to target the topic of your post.'
                    ) }}
					{{ formMacros.printQA(
                        5,
                        'What are the tags for ? ',
                        'Tags are used to classify posts according to their topics so that you can easily find publications on the topic that interests you. It is required to put at least one tag, of course tags must correspond to the topics of your publication.'
                    ) }}
					{{ formMacros.printQA(
                        6,
                        'Up to how many posts can I publish on the platform ? ',
                        'You can publish as many posts as you like.'
                    ) }}
					{{ formMacros.printQA(
                        7,
                        'When publishing content, do I have to answer the questions suggested ? ',
                        'You don\'t have to answer the questions, they are examples on various subjects to inspire you. It\'s up to you to decide whether you want to answer it or not ! If you don\'t, you can click on one of them and change the title of your publication.'
                    ) }}

                    {{ formMacros.printQA(
                        8,
                        'Do I need to register to be able to post content ?',
                        'Yes.'
                    ) }}
					{{ formMacros.printQA(
                        9,
                        'Do I need to upload the names of schools I went to to be able to publish a posts ?',
                        'Yes.'
                    ) }}
				{{ formMacros.printQA(
                        10,
                        'How many schools can I add to the education list ?',
                        'As many as you wish.'
                    ) }}
				{{ formMacros.printQA(
                        11,
                        'What is the language i need to use to write a post ? ',
                        'All posts must be written in english otherwise they won\'t be published. '
                    ) }}
					{{ formMacros.printQA(
                        12,
                        'As a contributor, can I leave comments under other contributors\' posts ?  ',
                        'Yes, and we encourage you to do so ! '
                    ) }}
				{{ formMacros.printQA(
                        13,
                        'Do I have to share my last name when i create an account ? ',
                        'No, you can simply write your first name. '
                    ) }}
				{{ formMacros.printQA(
                        14,
                        'Can I publish a post even if I have not experienced international mobility ? ',
                        'No.'
                    ) }}

                    {{ formMacros.printQA(
                        15,
                        'Who reads my posts before they are published ? ',
                        'The moderator of the platform reads and publishes the posts. You might need to wait a couple of days for your posts to be published. But, if you have writen more than 5 comments or 5 posts and they have been published, you are a trustworthy contributer ! This means your publication won\'t be moderated anymore.'
                    ) }}
				</div>
			</div>

			<div class="col-md-5 ">
				<div class="accordion" id="accordionExample">
					{{ formMacros.printQA(
                        16,
                        'How can I subscribe to the platform?',
                        'You do not need to subscribe to look for information about your destination or mobility in general. In case you want to add a contribution or publish a post, you can take a look at the dedicated FAQs.'
                    ) }}
					{{ formMacros.printQA(
                        17,
                        'Is it a free service or do I have to pay for the subscription?',
                        'The service is totally free.'
                    ) }}
					{{ formMacros.printQA(
                        18,
                        'Can I use the platform even if I do not indicate my destination?',
                        'Yes, you can read the different posts and contributions even without looking for your destination and by looking for a different keyword through the "Search" bar. You can also look for popular tags.'
                    ) }}
					{{ formMacros.printQA(
                        19,
                        'Can I read the contribution even if I have not won a mobility scholarship yet? ',
                        'Of course, reading a contribution might even help you to pick up your dream destination.'
                    ) }}
					{{ formMacros.printQA(
                        20,
                        'How can I contact a contributor? ',
                        'If the contributor has entered their contact info or social media, you can get in touch directly. Otherwise, you can comment the post and ask to provide you with this kind of information or by sharing yours and ask to get in touch with you.'
                    ) }}
					{{ formMacros.printQA(
                        21,
                        'How can I see all the partners and the universities within the platform? ',
                        'You can go to the bottom part of the homepage and click on "More information about the Compass project". You will be redirected to the "Presentation" section and there you can read about the project itself and the partners. You could also fine useful data and information about mobility in the "Resources" section.'
                    ) }}
					{{ formMacros.printQA(
                        22,
                        'Are you an Italian student and you would like to meet someone who has had the same mobility experience as you? ',
                        'ESN Italy developed a project called AskErasmus where you can be matched with an italian ESN volunteer who has had a similar experience in your destination and you can ask for further information.'
                    ) }}

					{{ formMacros.printQA(
                        23,
                        'How can I find a specific contribution?',
                        'If you go on the platform there is a search bar where you can look for testimonials by country/university and tags. Tags are used to classify posts according to their topics so that you can easily find publications on the topic that interests you.'
                    ) }}
					{{ formMacros.printQA(
                        24,
                        'Can I interact directly on the platform with a contribution? ',
                        'Yes, if you enter the testimonial you can leave a comment, like you would do on social media! Also, if they left their contact info, you can get in touch directly.'
                    ) }}
					{{ formMacros.printQA(
                        25,
                        'Can I interact with other users? ',
                        'Yes, if they left a comment.'
                    ) }}
					{{ formMacros.printQA(
                        26,
                        'Can I find information about accessibility and inclusion? ',
                        'Yes, you can look for the the tag "accessibility" through the "Search" bar. If you think the pieces of information are not enough or would like to know more about the university services or destination, you can take a look at the dedicated platform inclusivemobility.eu.'
                    ) }}
					{{ formMacros.printQA(
                        27,
                        'Can I be contacted by a user? ',
                        'Not through the platform. Only if you put your contact info or social media accounts.'
                    ) }}

					{{ formMacros.printQA(
                        28,
                        'before I enter my contribution, can I read the others on the same destination to avoid repeating topics?',
                        'Yes, you can look for it even wothout logginfg in and we really encourage you to do it, so the information ic always complementary.'
                    ) }}
					{{ formMacros.printQA(
                        29,
                        'Can I insert links for more information? ',
                        'Yes, and we really suggest you to do so, in order to provide readers with really concrete information (e.g. link to the university website, link to the local ESN section etc.)'
                    ) }}
					{{ formMacros.printQA(
                        30,
                        'Can I post anonymously? ',
                        'No, but only your name will be visible.'
                    ) }}

				</div>
			</div>
		</div>
	{% endblock %}
