{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block content %}
    <main class="px-3 py-md-5 text-center">
        <h1 class="pt-5">Get ready for your <br/>international mobility !</h1>
        <p class="lead">Learn about the experience of other students</p>
        <div class="lead pb-5">
            <form action="{{ path('search') }}" method="get">
                <div class="main-search mx-auto input-group mb-3">
                    <input name="text" type="text" class="form-control" placeholder="Search" aria-label="Search"
                           aria-describedby="search-btn">
                    <button class="btn btn-primary px-4 text-white" type="submit" id="search-btn" aria-label="Search">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </main>
    <div class="popular-tags py-4 px-3 text-center">
        <h2>Popular tags</h2>
        <div class="popular-tags-list row py-0 py-md-3 px-4">
            {% for tag in popularTags %}
                <div class="col-12 col-md-4 px-3">
                    <a href="{{ path('tags_list', {'tags': tag.0.name}) }}" class="tag text-right">
                        <strong>{{ tag.0.name }}</strong>
                        <br>{{ tag['NB_POSTS'] }} posts
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="last-posts compass-pattern py-4 pt-md-5 pb-md-4 px-md-3 text-center">
        <h2>Last posts</h2>
        <div class="posts-list px-0 px-md-4 my-md-4 row">
            {% for post in lastPosts %}
                <div class="col-12 col-md-6">
                    {% include '_post.html.twig' with {'post': post, 'grid': true} only %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}