{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block content %}
    <div class="my-5 px-2 px-md-0">
        <h1>Privacy and Data Protection Policy</h1>

        <h2>1. GENERAL</h2>
        <p>
            ESN France - Compass administration (whose registered office is at 50, rue des Tournelles, 75003, Paris,
            France) (“Compass” “we”, “our”, “us”), acting as data controller, is committed to protecting and
            respecting your privacy. The notice (“The Privacy Notice” is designed to tell you about our practices
            regarding the collection, use and disclosure of information that you may provide via this Platform.
        </p>
        <p>
            This privacy notice (together with our Terms and Conditions) sets out the basis on which personal data
            collected or provided by the user will be preceded by us. Please read the following carefully to understand
            our views and practices regarding your personal data and how we will treat it.
        </p>

        <h2>2. WHAT INFORMATION DO WE COLLECT FROM YOU AND FOR HOW LONG ?</h2>
        <ul class="list-unstyled">
            <li>
                2.1. Information you give us.
                You may give us information, including information that can identify you (“Personal Data“), when you use
                our Platforms, by filling in forms on the Platforms (such as the sign-up form), when you enter into any
                of our competitions, promotions or surveys, when you correspond with us by e-mail or otherwise, and
                when you report a problem with our Platforms.
                The information you give us may include:
            </li>
            <li>
                2.1.1. Mandatory information required to register for the service we provide on our Platform or to
                access other services provided by us, including your name, email address, date of birth, gender, and a
                password. All these fields are mandatory. Compass will not be able to provide you with the services
                offered on our Platform if the required information is not provided, consequently you will not be able
                to register for a user account on our Compass system.
            </li>
            <li>2.1.2 Social Media accounts</li>
            <li>2.1.3 Your posts on the Compass Platform</li>
            <li>2.1.5 A record of any correspondence between you and us</li>
            <li>2.1.6 Details of your visit to our Platform and the resources that you access</li>
            <li>
                2.1.7. Your replies to any surveys or questionnaires. Such information may be used for analytic & user
                understanding purposes;
            </li>
            <li>
                2.1.8. Information we may require from you when you report a problem with our Platforms or our service,
                such as the subject of your request for support.
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>2.2. Information we collect automaticall</li>
            <li>
                2.2.1. With regard to each of your visits to our Platform we may collect, in accordance with applicable
                laws and where required with your consent, information relating to the devices you use and the networks
                you are connected to when using our services. This may include the following information: your IP
                address, log-in information, browser type and version, browser plug-in types and versions, operating
                system and platform, advertising identifier, information about your visit including the URL clickstream
                to, through and from our Platform, products you viewed or searched for, download errors, length of
                visits to certain pages, page interaction.
            </li>
            <li>
                2.2.2. We also collect aggregated information regarding your activity on our Platform (such as the
                amount of posts created, your likes, comments, etc.). Such information may be published on your
                profile on our Platforms.
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>2.3 Data retention</li>
            <li>2.3.1. Except regarding the categories of Personal Data mentioned in clauses</li>
            <li>
                2.3.2 and 2.3.3 below, your Personal Data will be stored for the duration of your relationship with us
                and then put beyond use 3 years after the last log in on the platform, if you did not close your
                account.
            </li>
            <li>
                2.3.2. The following categories of Personal Data may be stored for different durations: Financial
                data (e.g. payments, reimbursements, etc.) is stored for the duration required by applicable tax
                and accounting laws; All user-generated content (e.g. comments and ratings) is anonymized but remains
                available on our Platforms.
            </li>
            <li>
                2.3.3. In the event that your account is suspended or blocked, we will keep your data between 2 and 10
                years, to prevent you from circumventing the rules applying to our Platforms.
            </li>
        </ul>

        <h2>3. HOW DO WE USE THE INFORMATION WE COLLECT ?</h2>
        <table class="table">
            <tr>
                <th>PURPOSES</th>
                <th>LEGAL BASIS</th>
            </tr>
            <tr>
                <td>3.1. to carry out our obligations arising from any contracts entered into between you and us and to
                    provide you with the information and services that you requested from us;
                </td>
                <td>The processing is necessary for the performance of our mutual contractual obligations</td>
            </tr>
            <tr>
                <td>3.2. to send you service-related information by email and/or text message and/or any other
                    communication means (e.g. survey on your Compass experience);
                </td>
                <td>This processing is necessary for the performance of our mutual obligations and/or carried out with
                    your consent.
                </td>
            </tr>
            <tr>
                <td>3.3. to enable you to personalise your user profile on our Platform</td>
                <td>This processing is carried out with your consent.</td>
            </tr>
            <tr>
                <td>3.4. to enable you to communicate and interact with other members about our services</td>
                <td>This processing is necessary for the performance of our mutual contractual obligations and/or
                    carried out with your consent
                </td>
            </tr>
            <tr>
                <td>3.5. to give you access to our support services and to enable you to communicate with our member
                    relations team;
                </td>
                <td>This processing is (i) necessary for the performance of our mutual contractual obligations, (ii)
                    carried out with your consent and/or (iii) necessary for the establishment, exercise or defense of
                    legal claims.
                </td>
            </tr>
            <tr>
                <td>3.6. to ensure compliance with (i) applicable laws, (ii) our Terms and Conditions, and (iii) our
                    Privacy Notice. Certain breaches that we regard as inappropriate may lead to the suspension of your
                    account;
                </td>
                <td>This processing is necessary (i) for the performance of our mutual contractual obligations, (ii) for
                    compliance with our legal obligations and/or (iii) for the establishment, exercise or defense of
                    legal claims.
                </td>
            </tr>
            <tr>
                <td>3.7. to notify you about changes to our services;</td>
                <td>This processing is necessary (i) for the performance of our mutual contractual obligations, (ii) for
                    compliance with our legal obligations and/or (iii) the establishment, exercise or defense of legal
                    claims.
                </td>
            </tr>
            <tr>
                <td>3.8. to administer our Platforms and for internal operations, including troubleshooting, data
                    analysis, testing, research, analytic and survey purposes;
                </td>
                <td>This processing is based on our legitimate interest (i.e. ensuring the security of our Platforms and
                    improving its features).
                </td>
            </tr>
            <tr>
                <td>3.9. to improve our Platforms to ensure that content is presented in the most effective manner for
                    you and for your device;
                </td>
                <td>This processing is based on our legitimate interest (i.e. providing you with meaningful content).
                </td>
            </tr>
            <tr>
                <td>3.10. to allow you to participate in interactive features of our service, when you choose to do
                    so;
                </td>
                <td>This processing is necessary (i) for the performance of our mutual contractual obligations and/or
                    (ii) based on your consent.
                </td>
            </tr>
            <tr>
                <td>3.11. as part of our efforts to keep our Platforms safe and secure;</td>
                <td>This processing is based on (i) our legitimate interest (ensuring the security of our Platforms),
                    (ii) carried out for the establishment, exercise or defense of legal claims and/or (iii) for
                    compliance with our legal obligations.
                </td>
            </tr>
        </table>

        <h2>4. WHO ARE THE RECIPIENTS OF THE INFORMATION WE COLLECT FROM YOU AND FOR WHICH PURPOSES ?</h2>
        <p>
            The information you provide when you register on the platform will be collected by ESN France, the data will
            as for now not be transferred to any other structure. However, certain information such as (host university,
            home university) are publicly available on the platform for users to see.
        </p>

        <h2>5. HOW DO WE USE AND MODERATE YOUR POSTS ?</h2>
        <p>
            5.1 We may review, scan or analyse the posts you published with other members of our community through our
            Platforms for fraud prevention, harassment prevention, service improvement, customer support purposes,
            enforcement of the contracts entered into with our members (such as our Terms and Conditions). For example,
            in order to prevent the harassment of one user by another user, we may scan and analyze messages sent
            through our Platforms to check that they do not include any contact details or references to other
            Platforms.
        </p>
        <p>
            5.2. We will never scan or analyse your posts with other members of our community for commercial and
            advertising purposes. We may use automated methods to carry out moderation of these messages, but no
            automated individual decision-making is performed in this regard.
        </p>

        <h2>6. IS YOUR INFORMATION BEING TRANSFERRED ? HOW AND WHERE ?</h2>
        <p>We store the Personal Data that we hold about you in the European Union (“EU“) only.</p>

        <h2>7. HOW DO WE PROTECT YOUR INFORMATION ?</h2>
        <p>
            We implement a variety of security measures to maintain safety of your personal information when you access
            your personal information.
        </p>

        <h2>8. WHAT ARE YOUR RIGHTS AND RESPECT OF PERSONAL DATA?</h2>
        <ul class="list-unstyled">
            <li>
                Since the General Data Protection Regulation (GDPR) enactment, here are your rights in respect of your
                personal data :
            </li>
            <li>
                8.1. You are entitled to receive a copy of your personal data that is in our possession (your right of
                data
                access).
            </li>
            <li>
                8.2 You may request the deletion of personal data or the correction of inaccurate personal data (your
                right
                to erasure and rectification). Please note that we may keep certain information concerning you, as
                required
                by law, or when we have a legal basis to do so (e.g., our legitimate interest to keep the platform safe
                and
                secure for other users).
            </li>
            <li>
                8.3 You have the right to object at any time (i) to the processing of your personal data for the purpose
                of
                direct marketing, or (ii) to the processing of your personal data for other purposes on grounds relating
                to
                your particular situation (your right to object to processing). Please note that in the latter case,
                this
                right only applies if the processing of your personal data is based on our legitimate interest.
            </li>
            <li>
                8.4 You have the right to restrict the processing of your personal data (your right to restriction of
                processing). Please note that this only applies if (i) you contested the accuracy of your personal data
                and
                we are verifying the accuracy of the personal data, (ii) you exercised your right to object and we are
                still
                considering, as foreseen by the applicable law, whether our legitimate grounds to process your personal
                data
                in that case override your interests, rights and freedoms; or (iii) your personal data has been
                processed by
                us in an unlawful way but you either oppose the erasure of the personal data or want us to keep your
                personal data in order to establish, exercise or defend a legal claim.
            </li>
            <li>
                8.5 You have the right to receive and/or have us transfer to another data controller a subset of
                personal
                data, that concern you and that you provided us with, and which we process for the performance of our
                contract or because you previously consented to it, in a structured, commonly used and machine-readable
                format (your right to data portability).
            </li>
            <li>
                8.6 To exercise your rights, please contact the Group Data Protection Officer (see under Article 16).
            </li>
            <li>
                8.7. You also have the right to make a complaint to the relevant data protection supervisory authority
                or to
                seek a remedy through the courts if you believe that your rights have been breached.
        </ul>

        <h2>9. CONFIDENTIALITY OF YOUR PASSWORD</h2>
        <p>
            When you have chosen a password which enables you to access certain parts of our Platform, you are
            responsible for keeping it confidential. We ask that you do not share your password with anyone.
        </p>

        <h2>10. LINKS TO OTHER PLATFORMS AND SOCIAL MEDIA</h2>
        <p>
            Our Platforms may, from time to time, contain links to and from Platforms of our partner networks and
            affiliates. If you follow a link to any of these Platforms, please note that these Platforms have their own
            privacy practices and that we do not accept any responsibility or liability for these policies. Please check
            these policies before you submit any Personal Data to these Platforms.
        </p>

        <h2>11. ONLINE PRIVACY POLICY ONLY</h2>
        <p>
            This online privacy policy applies only to information collected through our Platforms and not to
            information collected offline.
        </p>

        <h2>12. YOUR CONSENT</h2>
        <p>By using our Platform, you consent to our privacy policy.</p>

        <h2>13. CHANGE TO OUR PRIVACY NOTICE</h2>
        <p>
            Any changes we may make to our Privacy Notice in the future will be posted on this page. When appropriate,
            we will notify you or seek your consent. Please check back frequently to see any updates or changes to our
            Privacy Notice
        </p>

        <h2>14. CONTACT & DATA PROTECTION OFFICER</h2>
        <p>
            If at any time you would like to contact us with your views about our privacy practices, or with any enquiry
            relating to your Personal Data, please use one of the following means:
        </p>
        <p>
            Via email to our Data Protection Officer under contact@compass-youthmobility.eu
            or by letter :<br>
            ESN France - Compass administration<br>
            c/o Data Protection Officer<br>
            76bis rue de Rennes<br>
            75006 Paris France<br>
        </p>
    </div>
{% endblock %}