{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block content %}
    <div class="my-5 px-2 px-md-0">
        <h1>Terms and conditions</h1>

        <h2>1. SUBJECT</h2>
        <p>
            International Erasmus Student Network France is an association governed by French law of July 1st 1901
            located at 50 rue des Tournelles, 75003 Paris (France).
        </p>
        <p>
            This website is hosted in France by OVH SAS, 2 rue Kellermann - 59100 Roubaix, France.
            https://www.ovhcloud.com/
        </p>
        <p>
            ESN FranceCompass administration (hereinafter referred to as “Compass”) has developed a platform which
            enables young people to post about their international mobility (Countries, cities, universities, cost of
            living, administrative procedures) on a website called compass-youthmobility.eu.
        </p>

        <p>
            These terms and conditions have the purpose of governing access to and of use of the Platform. Please read
            them carefully. You understand and recognise that Compass is not party to any agreement, contract or
            contractual relations, of any nature, entered into between the users of its Platform.
        </p>
        <p>
            By clicking “Agree terms” when signing up, you recognise having read and accepted all these general
            conditions of use.
        </p>

        <h2>2. DEFINITIONS</h2>
        <p>
            In this document,<br>
            “Advert” means an advertisement about a<br>
            “Compass” has the meaning given to it in Article 1 above;<br>
            “T&Cs” means these Terms and Conditions;<br>
            “Account” means the account that must be created in order to become a user and access certain services
            offered by the Platform;<br>
            “user” means any individual having access to the platform whether this person has access to the information
            posted or created an account;<br>
            “Website” means the website accessible www.compass-youthmobility.eu
        </p>

        <h2>3. REGISTRATION ON THE PLATFORM AND CREATION OF ACCOUNT</h2>

        <h3>3.1 Conditions of registration on the Platform</h3>
        The Platform may be used by individuals aged 16 or over. Registration on the platform by a minor is strictly
        prohibited. In accessing, using or registering on the Platform, you represent and warrant that you are aged 16
        or over.
        Is interested in international mobility or has experienced international mobility.

        <h3>3.2 Creation of an Account</h3>
        <p>
            The Platform enables users to fill their profile and view some useful information such as testimonies, they
            can allow other users to contact them by sharing their social media account on their profile. You cannot
            view the information if you are not registered on the Platform.
            To register on the Platform, you must have read and accepted these T&Cs and the Privacy Policy.
        </p>
        <p>
            When creating your Account, you agree to provide accurate and true information, and to update it through
            your profile, in order to guarantee its relevance and accuracy throughout your contractual relations with
            Compass.
        </p>
        <p>
            In the case of registration by email, you agree to keep secret the password chosen upon creating your
            Account and not to communicate it to anybody. If you lose or disclose your password, you undertake to inform
            Compass immediately. You alone are responsible for the use of your Account by third parties, unless you have
            expressly notified Compass of the loss, the fraudulent use by a third party, or the disclosure of your
            password to a third party.
        </p>
        <p>
            You agree not to create or use, under your own identity or that of a third party, Accounts other than that
            initially created.
        </p>

        <h3>3.3 Verification</h3>
        <p>
            Compass may, for the purposes of transparency, improving trust, or prevention or detection of fraud, set up
            a system for verification of some of the information you provide on your profile. This is notably the case
            when you enter your phone number or provide us with an Identity document.
        </p>
        <p>
            You recognise and accept that any reference on the Platform or the Services to “verified” information, or
            any similar term, means only that a user has successfully passed the verification procedure existing on the
            Platform or the Services in order to provide you with more information about the Member with whom you are
            considering using the system. Compass cannot guarantee the truthfulness, reliability or validity of the
            information subject of the verification process.
        </p>

        <h2>4. USE OF THE SERVICE</h2>

        <h3>4.1.1 Operation</h3>
        <p>
            Compass encourages you to leave a review about a post that has been useful to you experience. Your review,
            and the review left by other users about you, if any, are only visible for the administrator.
        </p>

        <h3>4.1.2 Moderation</h3>
        <p>
            You recognise and accept that Compass reserves the right to delete any content if it deems its content
            breaches these T&Cs
        </p>

        <h3>4.1.3 Limit</h3>
        <p>
            Compass reserves the right to suspend your Account, limit your access to the Services, or terminate these
            T&Cs in the case where you are not using the system anymore for at least 6 months or if you are not
            respecting these T&Cs.
        </p>

        <h2>5. FINANCIAL CONDITIONS</h2>
        <p>
            Access to and registration on the Platform, as well as filling your profile, taking advantage of services
            and events and interacting with users, is free of charge.
        </p>

        <h2>6. NON COMMERCIAL AND NON PROFIT PURPOSE OF THE SERVICES OF THE PLATFORM</h2>
        <p>
            You agree to use the Services and the Platform only to provide content and read content, on a non-business
            and non-profit basis, for people wishing to share their mobility experience.
        </p>

        <h2>7. UNDERTAKING OF ALL USER</h2>
        <p>
            You recognise being solely responsible for respecting all laws, regulations and obligations applicable to
            your use of the Platform. Also, as a user, you agree to keep a positive, respectful and kind attitude toward
            other users you might be in contact with.
            Furthermore, when using the Platform and during your Compass experience, you undertake:
        </p>
        <ul>
            <li>not to use the Platform for professional, commercial or profit-making purposes</li>
            <li>not to post (notably upon creation or updating of your Account) any false, misleading, malicious or
                fraudulent information
            </li>
            <li>not post any content on the Platform of a defamatory, injurious, obscene, pornographic, vulgar,
                offensive,
                aggressive, uncalled-for, violent, threatening, harassing, racist or xenophobic nature, or with sexual
                connotations, inciting violence, discrimination or hatred, encouraging activities or the use of illegal
                substances, or more generally contrary to the purposes of the Platform, that may infringe the rights of
                Compass or a third party or contrary to good morals
            </li>
            <li>not to infringe the rights and image of Compass, notably its intellectual property rights</li>
            <li>
                not to open more than one Account on the Platform and not to open an Account in the name of a third
                party
            </li>
            <li>to comply with these T&Cs and the Privacy Policy</li>
            <li>to fill in the right information concerning you</li>
        </ul>
        <h2>8. SUSPENSION OF ACCOUNTS</h2>
        <p>
            You can terminate your contractual relations with Compass at any time, without cost and without reason. To
            do this, simply contact us. In the event of (i) breach by you of these T&Cs, including but limited to your
            obligations as user mentioned in Articles 6 and 7 above, (ii) exceeding the limit set out in Article 4.1.3
            above, or (iii) if Compass has a genuine reason to believe this is necessary to protect its security and its
            integrity, that of the users or third parties, or for the purpose of prevention of fraud or investigations,
            Compass reserves the right to :
        </p>
        <ul>
            <li>Terminate theT&Cs binding you with Compass immediately and without notice</li>
            <li>
                Prevent the posting of or remove any review, message, content, or any content posted by you on the
                Platform
            </li>
            <li>Limit your access and your use of the Platform</li>
            <li>Temporarily or permanently suspend your Account</li>
        </ul>
        <p>
            When this is necessary, you will be notified of the establishment of such a measure in order to enable you
            to give explanations to Compass. Compass will decide, at its sole discretion, whether or not to lift the
            measures put in place.
        </p>

        <h2>9. PERSONAL DATA</h2>
        <p>
            In the context of your use of the Platform, Compass will collect and process some of your personal data. In
            using the Platform and registering as a user, you recognise and accept the processing of your personal data
            by ESN France in compliance with the applicable law and the stipulations of the Privacy Policies.
        </p>

        <h2>10. INTELLECTUAL PROPERTY</h2>
        <h3>10.1 Content published by Compass</h3>
        <p>
            Subject to the contents provided by its uses, Compass is the sole holder of all intellectual property rights
            relating to the Service, the Platform, its content (notably texts, images, designs, logos, videos, sounds,
            data, graphics) and to the software and databases ensuring their operation.
        </p>
        <p>
            Compass grants you a non-exclusive, personal and non-transferable right to use the Platform and the
            Services, for your personal and private use, on a non-commercial basis and in compliance with the purposes
            of the Platform and the Services.
        </p>
        <p>
            You are prohibited from any other use or exploitation of the Platform, Services and their contents, without
            the prior written permission of Compass. Notably, you are prohibited from :
        </p>
        <ul>
            <li>
                Reproducing, modifying, adapting, distributing, publicly representing and disseminating the Platform,
                the Services and the content, with the exception of that expressly authorised by Compass
            </li>
            <li>
                Decompiling and reverse engineering the Platform or Services, subject to the exceptions stipulated by
                the texts in force
            </li>
            <li>
                Extracting or attempting to extract (notably using data mining robots or any other similar data
                collection tools) a substantial part of the data of the Platform.
            </li>
        </ul>

        <h2>11. ROLE OF COMPASS</h2>


        <p>Compass consists of a testimony online platform which enables young people to post content on various
            subjects regarding international mobility (administrative procedures, way of life, universities, student
            associations present on campus and so on..).</p>


        <p>In using the Platform and in accepting these T&Cs, you recognise that Compass takes no part into any
            agreement between you and the other users.</p>


        <p>Compass has no control over the behaviour of its users of the Platform. It does not own, exploit, supply or
            manage the experience of the users.</p>

        <h2>12. OPERATION, AVAILABILITY AND FUNCTIONALITIES OF THE PLATFORM</h2>
        <p>Compass shall try as far as possible to maintain the Platform accessible 7 days a week and 24 hours a day.
            Nevertheless, access to the Platform may be temporarily suspended, without notice, owing to technical
            maintenance, migration or update operations, or owing to outages or constraints linked to the operation of
            the network.</p>
        <p>Furthermore, Compass reserves the right to modify or suspend all or part of access to the Platform or its
        functionalities, at its sole discretion, temporarily or permanently.</p>

        <h2>13. MODIFICATION OF THE T&Cs</h2>
        <p>These T&Cs and the documents incorporated by reference express the entire agreement between you and Compass
            relative to your use of the Services. Any other document, notably any mention on the Platform (FAQ, etc.), is
            for guideline purposes only.</p>
        <p>Compass may modify these T&Cs in order to adapt to its technological and commercial environment, and to comply
            with the legislation in force. Any modification to these T&Cs will be published on the Platform with mention of
            the date of effect.</p>

        <h2>14. APPLICABLE LAW - DISPUTE</h2>

        <p>These T&Cs are written in English and subject to French law.</p>
        <p>You can also, if necessary, present your complaints relative to our Platform or our Services on the dispute
            resolution platform placed online by the European Commission. The European Commission will send your complaint
            to the competent national ombudsman. In compliance with the rules applicable to mediation, you are bound, before
            any request for mediation, to have notified Compass in writing of any dispute in order to obtain an amicable
            solution.</p>


        <h2>15. LEGAL NOTICES</h2>
        <p>For any question, you can contact ESN France - Compass administration using the email address :
            contact@compass-youthmobility.eu</p>


    </div>
{% endblock %}