{% extends 'base.html.twig' %}

{% block title %} :: Register{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block content %}
    <div class="pt-5 pb-4 px-3 px-md-0">
        <h1 class="mb-4"> Register</h1>
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
        <hr>
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.birthdate) }}
        <hr>
        {% set PP %}
            {{ form_row(registrationForm.agreeTerms) }}
        {% endset %}
        {{ PP|replace({
            '%charter%':
            '<a target="_BLANK" href="' ~ absolute_url(path('home_charter')) ~ '">charter</a>'
        })|replace({
            '%privacy-policy%':
            '<a target="_BLANK" href="' ~ absolute_url(path('home_privacy_policy')) ~ '">privacy policy</a>'
        })|raw }}

        <div class="text-center">
            <button class="btn btn-primary px-5" type="submit">Create account</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
