{% extends 'base.html.twig' %}

{% block title %} :: Reset your password{% endblock %}

{% form_theme requestForm 'bootstrap_5_layout.html.twig' %}

{% block content %}
    <div class="mt-5 mb-5 px-2 px-md-0">
        <h1 class="mb-5">Reset your password</h1>
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="w-50 m-auto">
            {{ form_start(requestForm) }}
                <p>Enter your email address and we will send you a link to reset your password.</p>
                {{ form_row(requestForm.email) }}

                <button class="w-100 btn btn-lg btn-primary mt-4">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
