{% extends 'base.html.twig' %}

{% block title %} :: Reset your password{% endblock %}

{% form_theme resetForm 'bootstrap_5_layout.html.twig' %}

{% block content %}
    <div class="mt-5 mb-5 px-2 px-md-0">
        <h1 class="mb-5">Reset your password</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
