{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Moderation{% endblock %}

{% block main %}
    <h4 style="margin-top: 30px">Posts ({{ posts|length }})</h4>
    <table class="datagrid">
        <thead>
        <tr>
            <td style="min-width: 100px">Author</td>
            <td>Post</td>
            <td style="min-width: 100px">Action</td>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    <strong>{{ post.author.firstname }} {{ post.author.lastname|first }}.</strong>
                    <small>#{{ post.author.id }}</small>
                    <div><small title="accepted posts">{{ post.author.publicPosts|length }} posts</small></div>
                </td>
                <td title="created on {{ post.createdAt|date('d M Y') }}">
                    #{{ post.id }} - <strong>{{ post.title }}</strong> -
                    <small>
                        {% for tag in post.tags %}#{{ tag }} {% endfor %}
                        - <i class="fas fa-map-marker-alt"></i>
                        {{ post.institution is not null ? post.institution.name }}
                        {{ post.city is not null ? post.city.name }}
                        {{ post.country is not null ? post.country|country_name }}
                    </small>
                    <br>
                    {{ post.content }}
                </td>
                <td>
                    <a href="{{ path('moderate_action', {'type': 'post', 'id': post.id, 'action': 'accept'}) }}" class="moderate-action btn btn-success" title="Accept"><i class="fa fa-check"></i></a>
                    <a href="{{ path('moderate_action', {'type': 'post', 'id': post.id, 'action': 'refuse'}) }}" class="moderate-action btn btn-danger" title="Refuse"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4 style="margin-top: 30px">Comments ({{ comments|length }})</h4>
    <table class="datagrid">
        <thead>
        <tr>
            <td style="min-width: 100px">Author</td>
            <td>Comment</td>
            <td style="min-width: 100px">Action</td>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>
                    <strong>{{ comment.author.firstname }} {{ comment.author.lastname|first }}.</strong>
                    <small>#{{ comment.author.id }}</small>
                    <div><small title="accepted comments">{{ comment.author.publicComments|length }} comments</small></div>
                </td>
                <td title="created on {{ comment.createdAt|date('d M Y') }}">
                    #{{ comment.id }} - <strong>Comment</strong> to
                    <a href="{{ path('post_show', {'id': comment.post.id}) }}">
                         <strong>{{ comment.post.title }}</strong> (#{{ comment.post.id }})
                    </a>
                    <br>
                    {{ comment.content }}
                </td>
                <td>
                    <a href="{{ path('moderate_action', {'type': 'comment', 'id': comment.id, 'action': 'accept'}) }}" class="moderate-action btn btn-success" title="Accept"><i class="fa fa-check"></i></a>
                    <a href="{{ path('moderate_action', {'type': 'comment', 'id': comment.id, 'action': 'refuse'}) }}" class="moderate-action btn btn-danger" title="Refuse"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.querySelectorAll('a.moderate-action').forEach(function (link){
            link.addEventListener('click', function (event){
                event.preventDefault();
                axios.post(this.href).then(function (response) {
                    location.reload();
                })
            })
        });
    </script>
{% endblock %}