@import "assets/styles/_colors.scss";
@import "assets/styles/_posts.scss";

.profile-content {
  h1 {
    .bi::before {
      font-weight: bold !important;
      font-size: 60%;
    }

    .bi-gender-female::before {
      color: darkred;
    }

    .bi-gender-male::before {
      color: darkblue;
    }
  }

  .identity-card {
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);

    strong {
      font-weight: normal;
      color: darken($primary, 20%);
    }
  }

  .call-to-action {
    padding: 20px;
  }

  .social-networks {
    a {
      color: black;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
  }

  .profile-stat {
    background: $primary;
    text-align: center;

    .profile-stat-badge {
      div {
        display: inline-block;
        margin-top: 15px;
        line-height: 15px;

        .bi {
          padding-right: 10px;
          font-size: 2.5em;
          color: white;

          &::before {
            vertical-align: bottom;
          }
        }

        strong {
          font-weight: normal;
          font-size: 2.5em;
        }
      }
    }
  }

  .first-steps {
    background-color: #eee;
    margin: auto auto 30px;
    border: 15px solid $primary;
    width: 80%;

    .title {
      font-size: 150%;
      text-align: center;
    }

    li.checked, li.checked a {
      text-decoration: line-through;
      color: #999;

      .bi {
        opacity: 100%;
      }
    }

    .bi {
      font-size: 150%;
      opacity: 20%;
    }
  }
}