{% extends 'base.html.twig' %}

{% block title %} :: {% if filters is defined %}"{{ filters.text|join(' ') }}" (Search){% else %}Search{% endif %} {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('search') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}

{% form_theme filtersForm 'bootstrap_5_layout.html.twig' %}

{% block content %}
    <div class="my-5 text-center">
        <div class="py-3">

            <div class="mx-5 px-5 mb-3">
                {{ form_start(filtersForm, {'attr': {'id': 'filters'}}) }}
                <div class="main-search mx-auto input-group px-5">
                    {{ form_widget(filtersForm.text) }}
                    <button class="btn btn-primary px-4 text-white" type="submit" id="search-btn" aria-label="Search">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link {{ activeTab == 'posts' ? 'active' }}" id="pills-posts-tab" data-bs-toggle="pill" data-bs-target="#pills-posts" type="button" role="tab" aria-controls="pills-posts" aria-selected="true">
                        <i class="bi bi-chat-left-fill"></i> Posts ({{ posts|length }})
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {{ activeTab == 'tags' ? 'active' }}" id="pills-tags-tab" data-bs-toggle="pill" data-bs-target="#pills-tags" type="button" role="tab" aria-controls="pills-tags" aria-selected="false">
                        <i class="bi bi-tags-fill"></i> Tags ({{ tags|length }})
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {{ activeTab == 'places' ? 'active' }}" id="pills-places-tab" data-bs-toggle="pill" data-bs-target="#pills-places" type="button" role="tab" aria-controls="pills-places" aria-selected="false">
                        <i class="bi bi-geo-alt-fill"></i> Places ({{ places.cities|length + places.countries|length }})
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade {{ activeTab == 'posts' ? 'show active' }}" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">

                    <div class="p-3 mx-5 search-filters">
                        <div class="row">
                            <div class="col-5">{{ form_widget(filtersForm.place) }}</div>
                            <div class="col-5">{{ form_widget(filtersForm.tags) }}</div>
                            <div class="col-2"><button type="submit" class="px-4 btn btn-primary">Filter</button></div>
                        </div>
                        {{ form_end(filtersForm) }}
                    </div>

                    {% if filters is defined %}
                        <div class="my-4 nb-results">
                            {{ posts|length }} result{{ posts|length > 1 ? 's'}} for
                            {% if filters.text is not empty %}"{{ filters.text|join(' ') }}"{% endif %}
                            {% if filters.place is not empty %}
                                <br><strong>Place:</strong> {{ filters.place.name ?? filters.place|country_name }}
                            {% endif %}
                            {% if filters.tags is not empty %}
                                <br><strong>Tags:</strong> #{{ filters.tags|join(', #') }}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="posts-list">
                        {% for post in posts %}
                            {% include '_post.html.twig' with {'post': post, 'multi': true, 'search': true} only %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade {{ activeTab == 'tags' ? 'show active' }}" id="pills-tags" role="tabpanel" aria-labelledby="pills-tags-tab">
                    {% if filters is defined %}
                        <div class="my-4 nb-results">
                            {{ tags|length }} result{{ tags|length > 1 ? 's'}} for "{{ filters.text|join(' ') }}"
                        </div>
                    {% endif %}
                    {% if tags is not empty %}
                        <div class="text-left">
                            {% for t in tags %}
                                <a href="{{ path('tags_list', {'tags': t.name}) }}" class="search-result-tag">
                                    <div>
                                        <strong>#{{ t.name }}</strong>
                                        <small>({% for s in t.synonyms %}{% for part in filters.text %}{{ part in s ? s ~ ', ' }}{% endfor %}{% endfor %}...)</small>
                                    </div>
                                    <div class="btn btn-outline-primary ms-3">Browse {{ t.posts|filter(p => p.isPublic)|length }} posts</div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade {{ activeTab == 'places' ? 'show active' }}" id="pills-places" role="tabpanel" aria-labelledby="pills-places-tab">
                    {% if filters is defined %}
                        <div class="my-4 nb-results">
                            {{ places.cities|length + places.countries|length }}
                            result{{ places.cities|length + places.countries|length > 1 ? 's'}}
                            for "{{ filters.text|join(' ') }}"
                        </div>
                    {% endif %}
                    {% if places.countries is not empty %}
                        <h3>Countries</h3>
                        <div class="text-left search-results">
                            {% for c in places.countries %}
                                <a href="{{ path('country_list', {'country': c}) }}" class="btn btn-outline-primary">
                                    {{ c|country_name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if places.cities is not empty %}
                        <h3>Cities</h3>
                        <div class="text-left search-results">
                            {% for c in places.cities %}
                                <a href="{{ path('city_list', {'slug': c.slug}) }}" class="btn btn-outline-primary">
                                    {{ c.name }}
                                    {% if c.posts|filter(p => p.isPublic)|length > 0 %}
                                        <span class="badge bg-primary">{{ c.posts|filter(p => p.isPublic)|length }} posts</span>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
