@import "assets/styles/_colors.scss";
@import "assets/styles/_posts.scss";

.post {

  @media (min-width: 599px) {
    .icon {
      padding: 10px 75px 50px 10px;
      font-size: 350%;
    }
  }

  .head {
    margin-left: 0;
    text-align: center;

    h1 {
      margin-left: 75px;
      font-size: 2em;
      @media (max-width: 599px) {
        margin-left: 50px;
        font-size: 1.5em;
      }
    }
  }

  .tags {
    color: $primary;
  }
}

.comments {
  text-align: center;
  width: 90%;
  margin: 30px auto;

  .comment {
    margin-top: 20px;

    &.waiting .content {
      background-color: #ddd;
    }

    &.refused .content {
      background-color: #fcc;
    }

    .author a {
      color: black;
      font-size: 120%;
    }

    .content {
      padding: 15px;
      background-color: white;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      text-align: left;
    }

    .created-at {
      font-style: italic;
      margin-top: 10px;
      opacity: .8;
      font-size: 80%;
    }
  }
}

.comment-form {
  background: $primary;
  padding: 2.5rem 4rem 1.5rem;

  textarea {
    border-radius: 15px 15px 0 15px;
  }
}

.ideas-group {

  .school-info {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .posts-ideas {
    margin-top: 10px;
    margin-bottom: 10px;

    .btn {
      border-radius: 10px;
      margin: 4px;
    }
  }
}

.tags-ideas {

  .btn {
    border-radius: 10px;
    margin: 2px;
  }
}