.post {
  position: relative;
  padding: 25px;
  margin: 30px auto;
  width: 90%;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: left;

  &.waiting {
    background-color: #ddd;
  }

  &.refused {
    background-color: #fcc;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 60px 43px 10px;
    background: $primary;
    background: linear-gradient(135deg, $primary 50%, transparent 50%);
    color: white;
    font-size: 250%;
    border-radius: 20px 0 0 0;
    pointer-events: none;
  }

  .head {
    margin-left: 50px;
    padding-bottom: 10px;

    .title, .created-at, .tags {
      display: inline-block;
      margin-left: 20px;
    }

    .title {
      font-size: 120%;
      font-weight: 500;
      line-height: 1;
    }

    .created-at {
      color: #444;

      a {
        color: black;
      }
    }
  }

  .tags a {
    color: $primary;
    margin: 10px 5px;
  }

  .body {
    margin-left: 30px;
    @media (max-width: 599px) {
      margin-left: 0;
      font-size: 90%;
    }
  }

  .comments-info {
    padding-left: 10%;

    a {
      color: #333;
    }
  }

  .reactions {

    .like-reaction.on {
      color: dodgerblue;
    }

    .love-reaction.on {
      color: #d5436c;
    }

    .useful-reaction.on {
      color: forestgreen;
    }

    .reaction-btn-group a {
      margin-left: 10px;
      cursor: pointer;
      color: #333;

      &:hover {
        text-decoration: none;
      }

      &.on {
        .bi.off::before { display: none; }
        &:hover {
          .bi.off::before { display: inline-block; }
          .bi.on::before { display: none; }
        }
      }

      &.off {
        .bi.on::before { display: none; }
        &:hover {
          .bi.on::before { display: inline-block; }
          .bi.off::before { display: none; }
        }
      }
    }

    .compact-reactions {
      font-size: 90%;
      color: #333;
      opacity: .8;
    }
  }
}