@import "_colors";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html {
  height: 100%;

  .staging-banner, .demo-banner {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
    overflow: auto;
    padding: 2px 20px;
    margin-bottom: 20px;
    background-color: hotpink;
    font-size: 12px;
    opacity: 80%;
    z-index: 99999;
  }

  .demo-banner {
    background-color: cornflowerblue;

    span {
      cursor: help;
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  header .logo img {
    margin-top: .5rem;
    height: 40px;
  }

  .navbar {
    a:hover {
      text-decoration: none;
    }

    .nav-link {
      margin-left: 1.2rem;
      margin-top: .5rem;
      padding: .25rem 0;
      color: rgba(0, 0, 0, .5);

      .btn {
        margin-top: .4rem;
      }

      &:not(.btn) {
        border-bottom: .2rem solid transparent;

        &:hover, &:focus {
          border-bottom-color: rgba(0, 0, 0, .25);
        }
      }

      &.active {
        color: #000;
        border-bottom-color: #000;
      }
    }
  }

  .navbar-dark {
    .nav-link {
      &:not(.btn) {
        &:hover, &:focus {
          border-bottom-color: rgba(255, 255, 255, .25);
        }
      }
      &.active {
        color: white;
        border-bottom-color: white;
      }
    }
  }

  .cover-container {
    max-width: 55em;
  }

  footer {
    opacity: .7;
    @media (max-width: 599px) {
      font-size: 80%;
    }

    nav a {
      display: inline-block;
      padding: 0 10px;
    }

    .beta-message {
      position: relative;
      font-size: 80%;
      padding: 10px 50px;
      background-color: lightgrey;

      i.bi {
        position: absolute;
        top: 0;
        left: 10px;
        display: block;
        font-size: 40px;
      }
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  border-radius: 999px;

  &:hover {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

.compass-pattern {
  background: url('/assets/images/background/orange_map.png') center/150%;
}

.compass-white-pattern {
  background: url('/assets/images/background/white_map.png') center/150%;
}

.highlight {
  background-color: gold;
}