<div class="post {{ post.moderationStatus }}">
	<div class="icon">
		<i class="bi bi-chat-left-text"></i>
	</div>
	<div class="head">
		<div class="title">
			{% if 'waiting' == post.moderationStatus %}
				<span class="badge bg-warning text-black">Waiting for validation</span>
			{% elseif 'refused' == post.moderationStatus %}
				<span class="badge bg-danger">Refused by moderator</span>
			{% endif %}
			{% if search ?? false %}
				{{ post.title|replace({'¤s¤': '<span class="highlight">', '¤/s¤': '</span>'})|raw }}
			{% else %}
				{{ post.title }}
			{% endif %}
		</div>
		<div class="created-at" title="{{ post.createdAt|date }}">
			{% if (grid ?? false) or (multi ?? false) %}
				by
				<a href="{{ path('profile_member', {'userId': post.author.id}) }}">{{ post.author.firstname }}</a>
				{% if post.author.imageName is not null %}

					<img src="{{ asset('/images/users/'~ post.author.imageName) }}" style="width:15%" class="" alt="picture profile">
					&nbsp;
				{% else %}
					<i class="bi bi-person-fill" style=" font-size: 2rem;color:#ffb255"></i>
				{% endif %}
			{% endif %}
			&nbsp; on
			{{ post.createdAt|date('M d') }}
		</div>
		<div class="tags">
			{% for tag in post.tags %}
				<a href="{{ path('tags_list', {'tags': tag.name}) }}">#{{ tag.name }}</a>
			{% endfor %}
			{% if post.institution is not null %}
				<a href="{{ path('institution_list', {'slug': post.institution.slug}) }}" title="{{ post.institution.city }}, {{ post.institution.city.country|country_name }}">
					<i class="bi bi-geo-alt-fill"></i>
					{{ post.institution.name }}
				</a>
			{% elseif post.city is not null%}
				<a href="{{ path('city_list', {'slug': post.city.slug}) }}" title="{{ post.city.country|country_name }}">
					<i class="bi bi-geo-alt-fill"></i>
					{{ post.city }}
				</a>
			{% elseif post.country is not null %}
				<a href="{{ path('country_list', {'country': post.country}) }}">
					<i class="bi bi-geo-alt-fill"></i>
					{{ post.country|country_name }}
				</a>
				{% endif%}
			</div>
		</div>
		<div class="body">
			{% if grid ?? false %}
				{{ post.content|slice(0, 50) ~ '...'  }}
				<a href="{{ path('post_show', {'id': post.id}) }}">read more</a>
			{% elseif search ?? false %}
				{{ post.content|replace({'¤s¤': '<span class="highlight">', '¤/s¤': '</span>'})|raw }}
			{% else %}
				{{ post.content }}
			{% endif %}
		</div>
		{% if (profile ?? false) and app.user == post.author %}
			<div class="actions mt-3">
				<form action="{{ path('post_delete', {id: post.id}) }}" method="POST" onsubmit="return confirm('Are you sure to delete this post ?')">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
					<button class="btn btn-sm btn-outline-danger">Delete the post</button>
				</form>
			</div>
		{% else %}
			<div class="row comments-reactions mt-3">
				<div class="col-md comments-info">
					<a href="{{ path('post_show', {'id': post.id}) }}#comments" class="comment-reaction ">
						<i class="on bi bi-chat-quote{{ post.commentsOfUser(app.user) is not empty ? '-fill' }}"></i>
						{% if grid ?? false %}
							{{ post.publicComments|length }}
						{% else %}
							Comments ({{ post.publicComments|length }})
						{% endif %}
					</a>
				</div>
				<div class="col-md reactions text-end">
					{% include '_post_reactions.html.twig' with {'post': post, 'compact': grid ?? false} only %}
				</div>
			</div>
		{% endif %}
	</div>
