{% set likeOnOff = post.reactionOfUser(app.user) is not null and post.reactionOfUser(app.user).type == 'like'  %}
{% set loveOnOff = post.reactionOfUser(app.user) is not null and post.reactionOfUser(app.user).type == 'love'  %}
{% set usefulOnOff = post.reactionOfUser(app.user) is not null and post.reactionOfUser(app.user).type == 'useful'  %}
{% set likeCount = post.reactions|filter(r => r.type == 'like')|length %}
{% set loveCount = post.reactions|filter(r => r.type == 'love')|length %}
{% set usefulCount = post.reactions|filter(r => r.type == 'useful')|length %}

{% if compact is not defined or compact == false %}
    <div class="reaction-btn-group">
        <a data-target="{{ path('post_react', {'id': post.id, 'type': (likeOnOff ? 'undo' : 'like')}) }}"
           class="like-reaction {{ likeOnOff ? 'on' : 'off' }}">
            <i class="on bi bi-hand-thumbs-up-fill"></i>
            <i class="off bi bi-hand-thumbs-up"></i>
            Like ({{ likeCount }})
        </a>
        <a data-target="{{ path('post_react', {'id': post.id, 'type': (loveOnOff ? 'undo' : 'love')}) }}"
           class="love-reaction {{ loveOnOff ? 'on' : 'off' }}">
            <i class="on bi bi-heart-fill"></i>
            <i class="off bi bi-heart"></i>
            Love ({{ loveCount }})
        </a>
        <a data-target="{{ path('post_react', {'id': post.id, 'type': (usefulOnOff ? 'undo' : 'useful')}) }}"
           class="useful-reaction {{ usefulOnOff ? 'on' : 'off' }}">
            <i class="on bi bi-check-circle-fill"></i>
            <i class="off bi bi-check-circle"></i>
            Useful ({{ usefulCount }})
        </a>
    </div>
{% else %}
    <div class="compact-reactions">
        {% if likeCount > 0 %}
            <span class="{{ likeOnOff ? 'on' : 'off' }} like-reaction"
                  title="{{ likeCount }} people{{ likeOnOff ? ' (you included)' }} like this post">
                <i class="on bi bi-hand-thumbs-up{{ likeOnOff ? '-fill on' }}"></i>
                {{ post.reactions|filter(r => r.type == 'like')|length }}
            </span>
        {% endif %}
        {% if loveCount > 0 %}
            <span class="{{ loveOnOff ? 'on' : 'off' }} love-reaction"
                  title="{{ loveCount }} people{{ loveOnOff ? ' (you included)' }} love this post">
                <i class="bi bi-heart{{ loveOnOff ? '-fill on' }}"></i>
                {{ loveCount }}
            </span>
        {% endif %}
        {% if usefulCount > 0 %}
            <span class="{{ usefulOnOff ? 'on' : 'off' }} useful-reaction"
                  title="{{ usefulCount }} people{{ usefulOnOff ? ' (you included)' }} think this post is useful">
                <i class="bi bi-check-circle{{ usefulOnOff ? '-fill on' }}"></i>
                {{ usefulCount }}
            </span>
        {% endif %}
    </div>
{% endif %}