<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Compass
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('build/images/compass_logo.svg') }}">

		{{ encore_entry_link_tags('app') }}

		{% block stylesheets %}{% endblock %}

		{{ encore_entry_script_tags('app') }}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% if 'staging.' in app.request.getSchemeAndHttpHost() %}
			<div class="staging-banner">
				This is the staging (testing) environment. Content added, edited and deleted here won't affect the
																                public version. The database of this version is regularly emptied.
			</div>
			<div class="my-4 my-sm-2 my-lg-0">&nbsp;</div>
		{% elseif 'demo.' in app.request.getSchemeAndHttpHost() %}
			<div class="demo-banner">
				This is the demo environnement. Content added, edited and deleted here won't affect the
																                public version. The database of this version is regularly emptied.
																                You can try the platform by logging as an
				<span title="admin@admin.com | password">admin</span>
				or any
				<span title="ex: l.humbert@mail.fr | password">user</span>
				in database.
			</div>
			<div class="my-4 my-sm-2 my-lg-0">&nbsp;</div>
		{% endif %}

		{% set path = app.request.attributes.get('_route') %}
		<div class="cover-container d-flex w-100 px-md-3 pt-md-2 mx-auto flex-column">
			<header class="mb-auto px-3 px-md-0">
				<div>
					<div class="float-md-start mb-0 me-2"></div>
					<nav role="navigation" class="navbar navbar-expand-md navbar-light">
						<div class="container-fluid">
							<a href="{{ path('homepage') }}" class="logo">
								<img src="{{ asset('build/images/compass_logo.svg') }}" alt="Compass logo"/>
							</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
									<li class="nav-item">
										<a class="nav-link {{ path == 'homepage' ? 'active' }}" aria-current="page" href="{{ path('homepage') }}">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link {{ path == 'search' ? 'active' }}" href="{{ path('search') }}">
											<i class="bi bi-search"></i>
											Search</a>
									</li>
									<li class="nav-item">
										<a class="nav-link {{ path == 'home_faq' ? 'active' }}" href="{{ path('home_faq') }}">FAQ</a>
									</li>
									<li class="nav-item">
										<a class="nav-link {{ path == 'home_contact_us' ? 'active' }}" href="{{ path('home_contact_us') }}">Contact us</a>
									</li>
								</ul>
								<form class="d-flex">
									{% if app.user is null %}
										<a class="nav-link" href="{{ path('app_login') }}">Log in</a>
										<a class="nav-link btn btn-primary px-4 text-white" href="{{ path('app_register') }}">
											Sign up
										</a>
									{% else %}
										{% if is_granted('ROLE_ADMIN') %}
											<a class="nav-link btn btn-outline-secondary px-3 position-relative" href="{{ path('admin') }}">
												<i class="bi bi-sliders"></i>
												Dashboard
												{% set dash_notifs = notification_service.getUserDashboardNotificationsCount(app.user) %}
												{% if dash_notifs > 0 %}
													<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
														{{ dash_notifs }}
														<span class="visually-hidden">notifications</span>
													</span>
												{% endif %}
											</a>
										{% endif %}
										<a class="nav-link btn btn-outline-primary px-4 {% if is_granted('IS_IMPERSONATOR') %}btn-danger{% endif %}" href="{{ path('profile') }}">
											<i class="bi bi-person-fill"></i>
											{{ app.user.firstname }}
										</a>
										{% if is_granted('IS_IMPERSONATOR') %}
											<a class="nav-link" href="{{ impersonation_exit_path(path('homepage') ) }}">Exit impersonation</a>
										{% else %}
											<a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
										{% endif %}
									{% endif %}
								</form>
							</div>
						</div>
					</nav>
				</div>
			</header>

			{% block content %}{% endblock %}

			<footer class="py-2 py-md-4 text-center">
				<div class="beta-message">
					<i class="bi bi-cone-striped"></i>
					This website is still in beta version. Some functionalities are still limited and we are working
																				                    to improve it.
					<br>Feel free to contact us to report any problem or give us your feedback.
				</div>
				<nav>
					<a class="py-2" href="{{ path('home_terms_and_conditions') }}">Terms and conditions</a>
					•
					<a class="py-2" href="{{ path('home_privacy_policy') }}">Privacy policy</a>
					•
					<a class="py-2" href="{{ path('home_charter') }}">Charter</a>
					•
					<a class="py-2" href="{{ path('home_contact_us') }}">Contact us</a>
				</nav>
				<a href="{{ path('project_presentation') }}">More information about the Compass project</a>
				<p class="mt-2">This project has been funded by the European Union<br/>© 2022 Compass</p>
			</footer>
		</div>
	</body>
</html>
