<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Compass{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/compass_logo.svg') }}">

        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="bg-secondary compass-white-pattern">

    {% set path = app.request.attributes.get('_route') %}
    <div class="cover-container d-flex w-100 mx-auto flex-column bg-white">
        {% block header %}
            <header class="mb-auto">
                <div>
                    <div class="float-md-start mb-0 me-2">
                    </div>
                    <nav  role="navigation" class="navbar navbar-expand-md navbar-dark bg-secondary pb-3 px-3 px-md-0">
                        <div class="container-fluid">
                            <a href="{{ path('project_presentation') }}" class="logo">
                                <img src="{{ asset('build/images/compass_logo.svg') }}" alt="Compass logo"/>
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link {{ path == 'project_presentation' ? 'active' }}" aria-current="page" href="{{ path('project_presentation') }}">Presentation</a>
                                    </li>
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link {{ path == 'project_news' ? 'active' }}" href="{{ path('project_news') }}">News</a>#}
{#                                    </li>#}
                                    <li class="nav-item">
                                        <a class="nav-link {{ path == 'project_resources' ? 'active' }}" href="{{ path('project_resources') }}">Resources</a>
                                    </li>
                                </ul>
                                <form class="d-flex">
                                    <a class="nav-link btn btn-primary px-4 text-white" href="{{ path('homepage') }}">
                                        <i class="bi bi-arrow-left-circle"></i>
                                        Return on Compass app
                                    </a>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        {% endblock %}

        <div class="bg-white px-md-5 pt-md-2">
            {% block content %}{% endblock %}
        </div>

        <footer class="py-2 py-md-4 text-center bg-white">
            <p class="mt-2">This project has been funded by the European Union<br/>© 2022 Compass</p>
        </footer>
    </div>
    </body>
</html>
