{% extends 'base.html.twig' %}

{% block title %} :: Post{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
{% endblock %}

{% block content %}
    <div class="mt-5 mb-5 px-2 px-md-0">
        <h1>Share your experience!</h1>

        <div class="my-3">
            <a href="{{ path('profile') }}">Cancel and return to your profile</a>
        </div>

        {% if okEducations is empty %}
            <div class="py-4">
                {% if app.user.educations is empty %}
                    Please add educations to <a href="{{ path('profile') }}">your profile</a>.
                {% else %}
                    You have educations in your profile, but they do not match our current list of open countries.
                {% endif %}
            </div>
        {% endif %}

        {% for education in okEducations %}
            <div class="ideas-group mt-4">
                <div class="education-info">You studied in {{ education.institution.name }}</div>
                <div class="posts-ideas">
                    {% set p = random(postsIdeas.institutions) %}
                    <a href="{{ path('post_new_from_idea', {'id': p.id, 'institution': education.institution.id}) }}"
                       class="btn btn-outline-secondary btn-lg">
                        {{ p.question|replace({'%name%': education.institution.name}) }}
                    </a>
                    {% set p = random(postsIdeas.city) %}
                    <a href="{{ path('post_new_from_idea', {'id': p.id, 'city': education.institution.city.id}) }}"
                       class="btn btn-outline-secondary btn-lg">
                        {{ p.question|replace({'%name%': education.institution.city}) }}
                    </a>
                    {% if education.institution.city.bigCity is not null %}
                        {% set p = random(postsIdeas.city) %}
                        <a href="{{ path('post_new_from_idea', {'id': p.id, 'city': education.institution.city.bigCity.id}) }}"
                           class="btn btn-outline-secondary btn-lg">
                            {{ p.question|replace({'%name%': education.institution.city.bigCity}) }}
                        </a>
                    {% endif %}
                    {% set p = random(postsIdeas.country) %}
                    <a href="{{ path('post_new_from_idea', {'id': p.id, 'country': education.institution.city.country}) }}"
                       class="btn btn-outline-secondary btn-lg">
                        {{ p.question|replace({'%name%': education.institution.city.country|country_name}) }}
                    </a>
                </div>
            </div>
        {% endfor %}
        {% for country in okCountries %}
            <div class="ideas-group mt-4">
                <div class="education-info">You studied in {{ country|country_name }}</div>
                <div class="posts-ideas">
                    {% set p = random(postsIdeas.country) %}
                    <a href="{{ path('post_new_from_idea', {'id': p.id, 'country': country}) }}"
                       class="btn btn-outline-secondary btn-lg">
                        {{ p.question|replace({'%name%': country|country_name}) }}
                    </a>
                </div>
            </div>
        {% endfor %}

        {% if okEducations is not empty or okCountries is not empty %}
            <div class="tags-ideas mt-4">
                Others subjects :
                {% for tag in tagsIdeas %}
                    <a href="{{ path('post_new_from_tag', {'tags': tag}) }}"
                       class="btn btn-outline-primary btn-lg">#{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
