{% extends 'base.html.twig' %}

{% block title %} :: Post{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('post') }}
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content %}
    <div class="mt-5 mb-5 px-2 px-md-0">
        <h1>Add post</h1>

        <div class="my-3">
            <a href="{{ path('post_ideas') }}">Cancel and return</a>
        </div>

        {{ form_start(form) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.tags) }}

        <div class="text-center">
            <button type="submit" class="px-5 mt-4 btn btn-primary">Create</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
