{% extends 'base.html.twig' %}

{% block title %}
	:: Post
	{{ post.id }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('post') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('post') }}
{% endblock %}

{% if commentForm is not null %}
	{% form_theme commentForm 'bootstrap_5_layout.html.twig' %}
{% endif %}

{% block content %}
	<div class="compass-pattern mt-4 py-4">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		<div class="post">
			<div class="icon">
				<i class="bi bi-chat-left-text"></i>
			</div>
			<div class="head">
				<h1>{{ post.title }}</h1>
				<div class="created-at" title="{{ post.createdAt|date }}">
					Posted by
					<a href="{{ path('profile_member', {'userId': post.author.id}) }}">{{ post.author.firstname }}</a>
					{% if post.author.imageName is not null %}

						<img src="{{ asset('/images/users/'~ post.author.imageName) }}" style="width:10%" class="" alt="...">
						&nbsp;
					{% else %}
						<i class="bi bi-person-fill" style=" font-size: 2rem;color:#ffb255"></i>
					{% endif %}
					&nbsp;  on
					{{ post.createdAt|date('jS F Y') }}
				</div>
			</div>
			<div class="body my-4 mx-md-3">
				{{ post.content }}
			</div>
			<div class="tags">
				{% for tag in post.tags %}
					<a href="{{ path('tags_list', {'tags': tag.name}) }}">#{{ tag.name }}</a>
				{% endfor %}
				<i class="bi bi-geo-alt-fill"></i>
				{% if topic.institution is defined %}
					<a href="{{ path('institution_list', {'slug': topic.institution.slug}) }}" class="mx-0">
						{{ topic.institution.name }}
					</a>,
				{% endif %}
				{% if topic.city is not null%}
					<a href="{{ path('city_list', {'slug': topic.city.slug}) }}" class="mx-0">
						{{ topic.city }}
					</a>,
				{% endif %}
				{% if topic.country is not null %}
					<a href="{{ path('country_list', {'country': topic.country}) }}" class="mx-0">
						{{ topic.country|country_name }}
					</a>
					{% endif%}
				</div>
				<div class="reactions mt-2 text-end">
					{% include '_post_reactions.html.twig' with {'post': post} only %}
				</div>
			</div>
		</div>

		<div id="comments" class="comments">
			<h3>Comments ({{ postComments|length }})</h3>
			{% for comment in postComments %}
				<div class="comment {{ comment.moderationStatus }}">
					<div class="row g-0 align-items-center">
						<div class="col-2 author">
							<a href="{{ path('profile_member', {'userId': comment.author.id}) }}">
								{{ comment.author.firstname }}
							</a>

						</div>
						<div class="col-10 content">
							{% if 'waiting' == comment.moderationStatus %}
								<span class="badge bg-warning text-black">Waiting for validation</span><br>
							{% elseif 'refused' == comment.moderationStatus %}
								<span class="badge bg-danger">Refused by moderator</span><br>
							{% endif %}
							{{ comment.content }}
							<div class="created-at">{{ comment.createdAt|date('j M Y - H:i') }}</div>
							{% if app.user == comment.author %}
								<div class="actions mt-3">
									<form action="{{ path('comment_delete', {id: comment.id}) }}" method="POST" onsubmit="return confirm('Are you sure to delete this comment ?')">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
										<button class="btn btn-sm btn-outline-danger">Delete this comment</button>
									</form>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		{% if commentForm is not null %}
			<div class="comment-form">
				{{ form_start(commentForm) }}
				<div class="row g-0">
					<div class="col-9">
						{{ form_row(commentForm.content) }}
					</div>
					<div class="col-3 px-2 text-end">
						<button type="submit" class="px-5 btn btn-light">Submit</button>
					</div>
				</div>
				{{ form_end(commentForm) }}
			</div>
		{% endif %}
	{% endblock %}
