@import "assets/styles/_colors.scss";
@import "assets/styles/_posts.scss";

.main-search {
    max-width: 450px;

    .form-control, #search-btn {
        font-size: 1.3rem;
    }

    input {
        border-radius: 20px 0 0 20px;
    }

    #search-btn {
        border-radius: 0 20px 20px 0;
    }
}

.popular-tags {
    background: $primary;
    color: white;

    .popular-tags-list .tag {
        position: relative;
        display: block;
        margin: 10px;
        padding: 10px 30px;
        min-height: 100px;
        background: white;
        color: #444;
        line-height: 1;
        text-align: right;
        border-radius: 20px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
        @media (max-width: 599px) {
            padding-top: 0;
            min-height: initial;
            font-size: 80%;
        }

        &:hover {
            text-decoration: none;
            box-shadow: 0 0 5px 2px transparent;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '#';
            color: $primary;
            font-size: 100px;
            opacity: .3;
            @media (max-width: 599px) {
                font-size: 50px;
            }
        }

        strong {
            font-size: 130%;
            font-weight: 500;
            color: black;
            line-height: 2;
        }
    }

}

.posts-list .post {
    margin: 20px auto;
    @media (max-width: 599px) {
        margin: 10px auto;
    }

    .head {
        font-size: 90%;
        margin-left: -10px;

        .title{
            margin-left: 70px;
        }

        .created-at {
            margin-left: 50px;
        }
    }

    .body {
        margin-left: 0;
        height: 45px;
        overflow: hidden;
    }
}