.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10% 15px 10%;
  margin: auto;

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .checkbox {
    font-weight: 400;
  }

  .form-floating:focus-within {
     z-index: 2;
   }
}