{% extends 'base.html.twig' %}

{% block content %}
    <div class="my-5 px-2 px-md-0 project text-center">
        <div class="mt-4" style="font-size: 100px;">
            <i class="bi bi-exclamation-square text-secondary"></i>
        </div>
        <h1 class="mt-2 mb-4"><strong>Error</strong> {{ status_code }}</h1>
        <p>{{ status_text }}</p>
    </div>
{% endblock %}