{% extends 'base.html.twig' %}

{% block content %}
    <div class="my-5 px-2 px-md-0 project text-center">
        <div class="mt-4" style="font-size: 100px;">
            <i class="bi bi-question-octagon text-secondary"></i>
        </div>
        <h1 class="mt-2 mb-4"><strong>Error:</strong> Page not found</h1>
        <p>
            The requested page couldn't be located. Checkout for any URL misspelling or
            <a href="{{ path('homepage') }}">return to the homepage</a>.
        </p>
    </div>
{% endblock %}