{% extends 'project_base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('project_site') }}
{% endblock %}

{% block content %}
	<div class="my-5 px-2 px-md-0 project">
		<h1 class="mb-4">Compass project</h1>
		<p>
			The Compass project aims to help students prepare for their mobility by putting them in contact with
			            students who have already gone abroad or with local students at the desired institution or destination.
			            In order to connect international students with locals, the platform allows them to post testimonials about
			            the country, city or university where they come from or where they have been during their mobility.
			            To publish testimonies the platform suggests tags on various subjects, such as #accommodation #studentlife
			            #finance ect…
		</p>
		<p>
			The aim is to improve guidance and preparation through an online tool for students preparing for mobility.
		</p>
		<p>
			The project also allows the structures supporting students in mobility (universities and associations)
			            to strengthen their practices and develop sustainable relationships by providing them with common and
			            inclusive educational tools.
		</p>
		<img src="{{ asset('/build/images/logos/co-funded-erasmus-2.png') }}" alt="Co-founded by the European Union">

		<h2 class="mt-5 mb-4">Partners</h2>
		<div class="partners">
			<div class="row">
				<div class="text-md-end col-md-4 col-12">
					<img src="{{ asset('/build/images/logos/esn_inter.png') }}" alt="Logo of ESN International">
				</div>
				<div class="col-md-8 col-12">
					ESN International is a non-profit student organization. Their mission is to represent international
					                    students, thus providing opportunities for cultural understanding and self development under the
					                    principle of Student Helping Students.
					<br><a href="https://www.esn.org/" target="_blank">https://www.esn.org/</a>
				</div>
			</div>
			<div class="row mt-4">
				<div class="text-md-end col-md-4 col-12">
					<img src="{{ asset('/build/images/logos/esn_fra.svg') }}" alt="Logo of ESN France">
				</div>
				<div class="col-md-8 col-12">
					Erasmus Student Network France is a network of 37 youth associations for the reception and
					                    integration of international students, and awareness of international mobility.
					<br><a href="https://esnfrance.org/" target="_blank">https://esnfrance.org/</a>
				</div>
			</div>
			<div class="row mt-4">
				<div class="text-md-end col-md-4 col-12">
					<img src="{{ asset('/build/images/logos/esn_ita.png') }}" alt="Logo of ESN Italy">
				</div>
				<div class="col-md-8 col-12">
					Erasmus Student Network Italy is a network of 49 youth associations for the reception and
					                    integration of international students, and awareness of international mobility.
					<br><a href="https://esn.it/en" target="_blank">https://esn.it/en</a>
				</div>
			</div>
			<div class="row mt-4">
				<div class="text-md-end col-md-4 col-12">
					<img src="{{ asset('/build/images/logos/euf.png') }}" alt="Logo of EUF">
				</div>
				<div class="col-md-8 col-12">
					EUF is a European network that aims to promote high quality student mobility and to contribute to
					                    the education of a generation of European graduates who are aware of European issues and diversity.
					<br><a href="https://uni-foundation.eu/" target="_blank">https://uni-foundation.eu/</a>
				</div>
			</div>
			<div class="row mt-4">
				<div class="text-md-end col-md-4 col-12">
					<img src="{{ asset('/build/images/logos/uw.jpg') }}" alt="Logo of University of Vienna">
				</div>
				<div class="col-md-8 col-12">
					University of Vienna is the oldest university in Austria with 15 faculties and 5 centres located
					                    mainly in the city of Vienna and in the regions of Upper and Lower Austria and Carinthia.
					<br><a href="https://www.univie.ac.at/en/" target="_blank">https://www.univie.ac.at/en/</a>
				</div>
			</div>
			<div class="row mt-4">
				<div class="text-md-end col-md-4 col-12">
					<img src="{{ asset('/build/images/logos/uh.png') }}" alt="Logo of University of Hertfordshire">
				</div>
				<div class="col-md-8 col-12">
					University of Hertfordshire is an English national university located in the North of London.
					<br><a href="https://www.herts.ac.uk/" target="_blank">https://www.herts.ac.uk/</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
