{% extends 'project_base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('project_site') }}
{% endblock %}

{% block content %}
	<div class="my-5 px-2 px-md-0 project">
		<h1 class="mb-4">Resources</h1>
		<p>
			You are from the international office of a university?<br>
			You are a student association helping young people prepare for mobility ?<br>
			You are a student preparing for mobility ?
		</p>
		<p>
			Here are a few resources that might help you do so :
		</p>
		<a class="card mb-3" href="{{ path('download_file', {'filename': 'First_Study_Report.pdf'}) }}">
			<div class="card-body">
				<i class="bi bi-paperclip"></i>
				Study Report : expectations and needs of students preparing their mobility process
			</div>
		</a>
		<a class="card mb-3" href="{{ path('download_file', {'filename': 'Study Report_Research about stakeholders practices.pdf'}) }}">
			<div class="card-body">
				<i class="bi bi-paperclip"></i>
				Study Report : Research about stakeholders practices when helping students to prepare their mobility
			</div>
		</a>

		<a class="card mb-3" href="{{ path('download_file', {'filename': 'Compass_good_practices_guide.pdf'}) }}">
			<div class="card-body">
				<i class="bi bi-paperclip"></i>
				Compass good practices guide
			</div>
		</a>
		<a class="card mb-3" href="{{ path('download_file', {'filename': 'Compass_Recommendation_Booklet.pdf'}) }}">
			<div class="card-body">
				<i class="bi bi-paperclip"></i>
				Compass recommendation booklet
			</div>
		</a>

		<a class="card mb-3" href="{{ path('download_file', {'filename': 'Compass_Platform_Toolkit.pdf'}) }}">
			<div class="card-body">
				<i class="bi bi-paperclip"></i>
				Compass Platform toolkit
			</div>
		</a>


	</div>
{% endblock %}
