@import "assets/styles/_colors.scss";
@import "assets/styles/_posts.scss";

.nav-pills {
  margin-left: 80px;

  .nav-link {
    padding: 1rem 2rem;
  }
}

.main-search input {
  border-radius: 20px 0 0 20px;
}

.search-filters {
  background: #ddd;
  border-radius: 0.5rem;
}

.search-result-tag {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  border: 1px solid lightgrey;
  width: 100%;
  color: #212529;

  &:hover {
    border-color: $primary;
    text-decoration: none;
    color: #212529;
  }

  div {
    display: inline-block;
  }
}

.search-results {
  .btn {
    margin: 2px;
  }
}
